<!DOCTYPE html>
<html>

<head>
    <title> {{appName}} </title>
</head>

<body style="background-color: #fafafa">
    <table cellspacing="0" align="center" cellpadding="0" border="0" width="600px"
        style="width: 600px; background-color: #fff">
        <tr>
            <td width="55"></td>
            <td>
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr height="55">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #8ff5e1">
                                <tr>
                                    <td width="30"></td>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <a href=" "><img src="  " alt="Site logo" width="100" /></a>
                                                </td>
                                            </tr>
                                            <tr height="8">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr height="20">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="box-sizing: border-box; color: #050f2f; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: inherit; line-height: inherit; text-align: left; padding: 0;">
                            Hi {{ name }}!
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="box-sizing: border-box; color: #050f2f; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: inherit; line-height: inherit; text-align: left; padding: 0;">
                            We've received a signIn request from you Id.
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="box-sizing: border-box; color: #050f2f; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: inherit; line-height: inherit; text-align: left; padding: 0;">
                            If you didn't make the request, just ignore this message. Otherwise, you can use the OPT to procced to signin.
                        </td>
                    </tr>
                    <tr height="10">
                        <td>Your SignIn OTP is : {{otp}}</td>
                    </tr>
                    <tr>
                        <td
                            style="box-sizing: border-box; color: #19399e; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: inherit; line-height: 30px; text-align: left; padding: 0;">
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="box-sizing: border-box; color: #050f2f; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: inherit; line-height: inherit; text-align: left; padding: 0;">
                            Sincerely,
                        </td>
                    </tr>
                    <tr height="0">
                        <td></td>
                    </tr>
                    <tr>
                        <td
                            style="box-sizing: border-box; color: #050f2f; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: inherit; line-height: inherit; text-align: left; padding: 0;">
                           {{emailSignature}}
                        </td>
                    </tr>
                    <tr height="10">
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0"
                                style="background-color: #333743">
                                <tr>
                                    <td>
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                            <tr height="8" style="color: white;
                                                display: flex;
                                        justify-content: center;
                                        align-items: center;
                                                ">
                                                <td style="color: white;
                                                display: flex;
                                        justify-content: center;
                                        align-items: center;
                                                "> &copy; All Rights Reserve</td>
                                            </tr>
                                            <tr height="10">
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="41"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="55"></td>
        </tr>
    </table>
</body>

</html>